@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #fbfbfb;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: auto;
  position:relative;
  max-width: 1330px;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
}
#maincontent {
  background-color: #b5c588;;
  min-height: 100%;
  padding: 5px;
}
header {
  width: 100%;
  background-color: #252831;
  text-align:center;
  vertical-align: middle;
}

header h1 {
  margin: auto;
  vertical-align: middle;
}
header h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 100;
  background: #BF1722;
  color: white;
  padding: 8px;
}

.skip-link:focus {
  top: 0;
}
/*
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  vertical-align: middle;
}
nav h1 {
  margin: auto;
  vertical-align: middle;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

// Display list items side by side 
#breadcrumb li {
    display: inline;
}

// Add a slash symbol (/) before/behind each list item
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

// Add a color to all links inside the list 
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

// Add a color on mouse-over 
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
*/
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;  
  flex-direction: row;  
}
.menu-label {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  
  list-style: outside none none;
  display: flex;
  flex-wrap: wrap;  
  flex-direction: row;
  margin: auto;
  padding: 30px 15px 60px;
  /* 
  margin: 0; 
  */  
  text-align: center;
}
#restaurants-list li {
  margin: 15px;
  min-height: 380px;
  padding: 10px;
  width: 270px;
}
.restaurant-container {
  background-color: #083045;
  font-family: Arial,sans-serif;
  text-align: left;
  border-radius: 25px 0px;
  overflow: hidden;
}
#restaurant-container {
  margin: 20px;
  width: 50%;
}
.restaurant-info {
  padding: 20px 40px 30px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #fbfbfb;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 10px 0 5px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list p:nth-of-type(1) {
  margin: 0;
  font-size: 12pt;
  font-weight: 550;
}
#restaurants-list li a {
  background-color: #eed369;
  /*
  border-bottom: 3px solid #eee;
  */
  color: #083045;
  display: inline-block;
  font-size: 11pt;
  font-weight: 700;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
/*
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
*/
.inside #map-container {
  height: 400px;
  /*
  height: 87%;  
  position: fixed;
  background: blue none repeat scroll 0 0;  
  right: 0;
  top: 80px;
  width: 50%;   
  */
}
.inside #map {
  height: 400px;
  /*
  width: 100%; 
  background-color: #ccc;   
  */  
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
.restaurant-img {
  width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#reviews-container {
  padding: 30px 0px 80px;
  width: 100%;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #eed369;
  border-radius: 15px 0 0 0;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 85%;
  /*
  border-bottom: 1px solid #d9d9d9;
  */
}
#reviews-list li div {
  margin: 0;

}
#restaurant-hours td {
  color: #fff;
}
.review-top {
  background-color: rgb(0, 0, 0);
  color: #FFF;
  font-size: 12pt;
  display: flex;
  flex-wrap: wrap;  
  flex-direction: row;
  padding: 15px;
}
.review-name {
  text-align: left;
  width: 50%;
}
.review-date {
  text-align: right;
  width: 50%;
}
.review-rating {
  background-color: rgb(228, 130, 26);
  color: #FFF;
  font-size: 12pt;
  padding: 15px;
}

.review-comments {
  color: #000;
  font-size: 12pt;
  padding: 25px 15px;
}